
<div class="ui pointing orange inverted menu" style="width: 100%;">
	<a class="{{menu.home?'active':''}} item" ui-sref="home"><i class="home icon"></i> Home</a>
	<a class="{{menu.har?'active':''}} item" ui-sref=".har"><i class="bar chart icon"></i> HAR</a>
	<div class="right menu">
		<div class="item">
			<div class="ui icon input"><input type="text" placeholder="Search..."><i class="search link icon"></i></div>
		</div>
		<a class="{{menu.about?'active':''}} item" ui-sref=".about"><i class="info icon"></i> About</a>
		<a class="{{menu.contact?'active':''}} item" ui-sref=".contact"><i class="mail icon"></i> Contact</a>
	</div>
</div>
